@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* NOTE: Default Background */
    --background-darker: hsl(240, 4%, 90%);
    --background-dark: hsl(240, 4%, 95%);
    --background: hsl(0 0% 100%);
    --background-light: hsl(0, 0%, 100%);
    --background-lighter: hsl(0, 0%, 100%);

    /* NOTE: Default Accent */
    --accent: hsl(240 5% 96%);
    --accent-foreground: hsl(240 6% 10%);

    /* NOTE: Default Primary */
    --primary-darker: hsl(342, 92%, 41%);
    --primary-dark: hsl(342, 92%, 47%);
    --primary: hsl(342, 92%, 54%);
    --primary-light: hsl(342, 92%, 60%);
    --primary-lighter: hsl(342, 92%, 65%);
    --primary-foreground: hsl(356 100% 97%);

    /* NOTE: Default Contrast */
    --contrast-lower: hsl(240, 4%, 85%);
    --contrast-low: hsl(240, 4%, 65%);
    --contrast-medium: hsl(225, 4%, 47%);
    --contrast-high: hsl(230, 7%, 23%);
    --contrast-higher: hsl(230, 13%, 9%);

    /* NOTE: Default Warning */
    --warning-darker: hsl(35, 79%, 48%);
    --warning-dark: hsl(35, 79%, 56%);
    --warning: hsl(35, 79%, 66%);
    --warning-light: hsl(35, 79%, 74%);
    --warning-lighter: hsl(35, 79%, 82%);

    /* NOTE: Default Success */
    --success-darker: hsl(170, 78%, 26%);
    --success-dark: hsl(170, 78%, 31%);
    --success: hsl(170, 78%, 36%);
    --success-light: hsl(170, 78%, 42%);
    --success-lighter: hsl(170, 78%, 47%);

    /* NOTE: Default Error */
    --error-darker: hsl(342, 92%, 41%);
    --error-dark: hsl(342, 92%, 47%);
    --error: hsl(342, 92%, 54%);
    --error-light: hsl(342, 92%, 60%);
    --error-lighter: hsl(342, 92%, 65%);

    /* NOTE: Default Secondary */
    --secondary-darker: hsl(250, 84%, 38%);
    --secondary-dark: hsl(250, 84%, 46%);
    --secondary: hsl(250, 84%, 54%);
    --secondary-light: hsl(250, 84%, 60%);
    --secondary-lighter: hsl(250, 84%, 67%);
    --secondary-foreground: hsl(250 100% 100%);

    --foreground: hsl(240 10% 4%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 4%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 4%);
    --muted: hsl(240 5% 96%);
    --muted-foreground: hsl(240 4% 46%);
    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 6% 90%);
    --input: hsl(240 6% 90%);
    --ring: hsl(347 77% 50%);
    --radius: 0.5rem;
    --white: hsl(0, 0%, 100%);
  }

  .dark {
    /* NOTE: Dark Background */
    --background-darker: hsl(232, 7%, 8%);
    --background-dark: hsl(233, 8%, 11%);
    --background: hsl(232, 11%, 15%);
    --background-light: hsl(233, 8%, 19%);
    --background-lighter: hsl(232, 7%, 22%);

    /* NOTE: Dark Accent */
    --accent: hsl(12 7% 15%);
    --accent-foreground: hsl(0 0% 98%);

    /* NOTE: Dark Primary */
    --primary-darker: hsl(342, 92%, 41%);
    --primary-dark: hsl(342, 92%, 47%);
    --primary: hsl(342, 92%, 54%);
    --primary-light: hsl(342, 92%, 60%);
    --primary-lighter: hsl(342, 92%, 65%);
    --primary-foreground: hsl(355 100% 97%);

    /* NOTE: Dark Contrast */
    --contrast-lower: hsl(240, 6%, 26%);
    --contrast-low: hsl(240, 3%, 41%);
    --contrast-medium: hsl(231, 3%, 57%);
    --contrast-high: hsl(240, 5%, 82%);
    --contrast-higher: hsl(240, 100%, 99%);

    /* NOTE: Dark Warning */
    --warning-darker: hsl(35, 79%, 48%);
    --warning-dark: hsl(35, 79%, 56%);
    --warning: hsl(35, 79%, 66%);
    --warning-light: hsl(35, 79%, 74%);
    --warning-lighter: hsl(35, 79%, 82%);

    /* NOTE: Dark Success */
    --success-darker: hsl(170, 78%, 26%);
    --success-dark: hsl(170, 78%, 31%);
    --success: hsl(170, 78%, 36%);
    --success-light: hsl(170, 78%, 42%);
    --success-lighter: hsl(170, 78%, 47%);

    /* NOTE: Dark Error */
    --error-darker: hsl(342, 92%, 41%);
    --error-dark: hsl(342, 92%, 47%);
    --error: hsl(342, 92%, 54%);
    --error-light: hsl(342, 92%, 60%);
    --error-lighter: hsl(342, 92%, 65%);

    /* NOTE: Default Secondary */
    --secondary-darker: hsl(250, 84%, 38%);
    --secondary-dark: hsl(250, 84%, 46%);
    --secondary: hsl(250, 84%, 54%);
    --secondary-light: hsl(250, 84%, 60%);
    --secondary-lighter: hsl(250, 84%, 67%);
    --secondary-foreground: hsl(250 100% 95%);

    --foreground: hsl(0 0% 95%);
    --card: hsl(24 10% 10%);
    --card-foreground: hsl(0 0% 95%);
    --popover: hsl(0 0% 9%);
    --popover-foreground: hsl(0 0% 95%);
    --muted: hsl(0 0% 15%);
    --muted-foreground: hsl(240 5% 65%);
    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(0 86% 97%);
    --border: hsl(240 4% 16%);
    --input: hsl(240 4% 16%);
    --ring: hsl(347 77% 50%);
    --white: hsl(0, 0%, 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .primary-text-gradient {
    background: linear-gradient(129deg, rgb(225, 29, 72) 0%, rgb(238, 123, 148) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-primary-gradient {
    background: hsla(342, 92%, 54%, 1);
    background: linear-gradient(0deg, hsla(342, 92%, 54%, 1) 0%, hsla(342, 92%, 65%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(342, 92%, 54%, 1) 0%, hsla(342, 92%, 65%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(342, 92%, 54%, 1) 0%, hsla(342, 92%, 65%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F61E5F", endColorstr="#F85485", GradientType=1 );
  }

  .bg-secondary-gradient {
    background: hsla(250, 84%, 60%, 1);
    background: linear-gradient(0deg, hsla(250, 84%, 60%, 1) 0%, hsla(250, 85%, 67%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(250, 84%, 60%, 1) 0%, hsla(250, 85%, 67%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(250, 84%, 60%, 1) 0%, hsla(250, 85%, 67%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6043EF", endColorstr="#7C64F2", GradientType=1 );
  }
}
